@import url("main.css");

.real-footer {
  padding: 30px 0;
  background: #f5f5f5;
}
/* 약관 */
.terms {
  color: #737373;
  font-size: 14px;
}
.terms a:last-of-type {
  border-left: 1px solid #737373;
  color: #000;
  font-weight: 700;
  margin-left: 10px;
  padding-left: 10px;
}
