@import url("main.css");

.real-footer {
  display: flex;
  text-align: left;
  font-size: 14px;
  padding: 30px 0;
  background: #f5f5f5;
}
/* 약관 */
.terms {
  color: #737373;
}
.terms a:last-of-type {
  border-left: 1px solid #737373;
  color: #000;
  font-weight: 700;
  margin-left: 10px;
  padding-left: 10px;
}

/* info */
.info {
  color: #737373;
  display: flex;
  text-align: left;
  gap: 30px;
  margin: 10px 0;
}

address {
  color: #737373;
  line-height: 24px;
  font-style: normal;
}
address span {
  margin-right: 15px;
}
