@import url("main.css");

.header {
  position: relative;
  width: 100%;
  height: 80px;
  z-index: 9999;
  background-color: inherit;
  display: flex;
  justify-content: space-between;
}

/* 로고 */
.header-logo {
  display: flex;
  align-items: center;
  width: 10vw;
  padding: 15px;
  background-color: #e60012;
}
.header-logo img {
  width: 100%;
  display: block;
}

/* 헤더 메뉴 */
.main-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.main-menu-list {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}
.main-menu-list li {
  width: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #e6e6e6;
  font-size: 13px;
  font-weight: 700;
  color: #3c3c3c;
  cursor: pointer;
  border-top: 5px solid #fff;
    border-bottom: 5px solid transparent;
  transition: all 0.2s linear;
}
.main-menu-list li a {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid transparent;
}
.main-menu-list li a img {
  display: block;
  width: 26px;
  height: 26px;
}
/* 호버시 색깔 변경 및 밑줄 */
.main-menu-list li:hover {
  border-bottom: 5px solid #e60012;
}

.main-menu-list li:hover a {
  color: #e60012;
}
.main-menu-list li:hover a img {
  filter: brightness(0) saturate(100%) invert(15%) sepia(90%) saturate(5000%);
}

/* 검색 */
.main-menu-list li:last-of-type {
  width: 50%;
}
.main-menu-list li:last-of-type a {
  display: flex;
  gap: 2px;
  flex-direction: column;
  border-right: none;
  font-size: 14px;
  margin: auto;
  min-width: 24px;
}
.main-menu-list li:last-of-type a img {
  width: 26px;
  height: 26px;
}
