* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}
/* 폰트 찾아오기 */
body {
  margin: auto;
  font-family:
    Malgun Gothic,
    맑은 고딕,
    sans-serif;
  position: relative;
}
img {
  width: 100%;
  display: block;
}
