@import url("main.css");
/* 0403 시작 */

.new-wrap {
  width: 100%;
}
.new-wrap .inner {
  padding: 0 40px;
  margin-top: 80px;
  margin-bottom: 80px;
}
/* 제목 */
.new-title {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin-bottom: 40px;
}
.new-title h2 {
  font-size: 26px;
  font-weight: 700;
}
.new-title span {
  font-size: 18px;
}

/* 카드 리스트 영역 */
.new-card-list {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 15px;
  /* 같은 줄 카드 높이를 자동으로 맞춰줌 */
  /* align-items: stretch; */
}

/* 카드 */
.new-card {
  width: calc((100% - 45px) / 4);
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  border-bottom: 4px solid #e6e6e6;
}
.new-card a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* 이미지 */
.new-img {
  width: 100%;
}
/* 텍스트 */
.new-txt {
  width: 100%;
  font-weight: bold;
  line-height: 20px;
  /* 부모나 자신의 font-size를 기준으로 크기 설정 */
  padding: 1em 0;
  /* 남은 공간을 얼마나 가져갈지 비율로 결정 */
  flex-grow: 1;
  /* background-color: beige; */
}
/* 텍스트 아래 */
.new-txt-bt {
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
}
.new-txt-bt p {
  color: #8c8c8c;
  font-size: 14px;
  line-height: 18px;
}
.new-txt-bt span {
  color: #8c8c8c;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.new-txt-bt img {
  width: 20px;
  height: 20px;
}
